<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="Appender1" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="[%d][%p][%C{1}%x.%M][LineNo-%L]- %m%n"/>
       </layout>
    </appender>
  
    <appender name="Appender2" class="org.apache.log4j.RollingFileAppender">
    	<param name="Threshold" value="ALL" />
        <param name="MaxFileSize" value="512KB" />
        <param name="MaxBackupIndex" value="10" />
       <param name="File" value="F:/Programming/Logs/PeerReviewSystem.log" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="[%d][%p][%C{1}%x.%M][LineNo-%L]- %m%n"/>
       </layout>
    </appender>
 
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="Appender1" />
        <appender-ref ref="Appender2" />
    </root>
     
</log4j:configuration>
